.grid{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 100px 100px;
}

.card{
    background-color: #F8F8F7;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#card1{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    background: url('../assets/2.png');
    background-size: cover;
}

#card3{
    background: url('../assets/3.png');
    background-size: cover;
    background-position: center;
}

#card4{
    background: url('../assets/4.png');
    background-size: cover;
}

#card6{
    background: url('../assets/1.png');
    background-size: cover; 
}

#card8{
    background: url('../assets/5.jpg');
    background-size: cover;
    background-position: 50% 75%;
}

#card8{
    grid-column: span 2;
}

.decouvrir-button{
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #FF4286;
    border-radius: 2px;
    color:#FF4286;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    margin-top: 8px;
    padding: 5px 10px;
    text-decoration: none;
  }