.navbar-prestations{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    margin : 30px;
    border-radius: 10px;
    background-color: #FDB4CE;
}

.navbar-prestations h4{
    cursor: pointer;
}

.title-prestation{
    text-align: center;
}

.all-prestations{
    margin: 50px 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.display-prestation{
    background-color: #E1E0DE;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.links-prestation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
